*{
    margin:0;
    padding:0;
    font-family:"微软雅黑 ";
    list-style:none;
}
html, body {
    background: #F3F5F7;
}
body {
	background: #F3F5F7;
	font-size: 14px;
	color:#000;
	margin: 0;
	padding: 0;
}
/*--------社交顶部内容-------*/
.sj_header{
	background-color:#34394B;
    height: 50px;
    line-height: 50px;
}
.sj_header>ul>li{
    float: left;
    width: 50%;
}
.sj_header>ul>li:nth-child(1){
    text-align: left;
}
.sj_header>ul>li:nth-child(1) span{
    padding-left: 15px;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    cursor: pointer;
}
.sj_header>ul>li:nth-child(2) p{
    font-size: 16px;
    font-weight: 600;
    padding-right: 15px;
    margin: 0;
}
.sj_header>ul>li:nth-child(2){
    text-align: right;
}
.sj_header>ul>li a:link{
    color: #fff;
    text-decoration: none;
}
.sj_header>ul>li a:hover{
    color: #fff;
    text-decoration: none;
}
.sj_header>ul>li a:visited{
    color: #fff;
    text-decoration: none;
}
@media(min-width:430px){

}
/*-------主体内容--------*/
.my_con{
    margin-top: 60px;
    width: 100%;
    background: #F3F5F7;
    margin-bottom: 10px;
    color: #444;
}
.bianji{
    width: 100%;
    height: 40px;
    line-height: 40px;
    color: #666666;
    background-color: #ffffff;
    margin-bottom: 0;
    padding-left: 10px;
    font-size: 14px;
}
.bianji span{
    padding-right: 10px;
    font-size: 20px;
    float: left;
    line-height: 37px;
    color: #00D1A4;
}
.bianji i{
    padding-right: 10px;
    font-size: 14px;
    float: right;
    line-height: 37px;
    color: #DBDBDB;
}
.my_con ul{
    background-color: #ffffff;
    margin-top: 10px;
}
.my_con ul li{
    width: 100%;
    border-bottom: 1px solid #fafafa;
    height: 40px;
    line-height: 40px;
    font-size: 13px;
    position: relative;
}
.my_con ul li i{
    color: #B7B7B7;
    position: absolute;
    left: 10px;
    font-style: normal;
}
.my_con ul li span{
    padding-left: 75px;
}
.shuoming{
    margin-top: 10px;
    position: relative;
    padding: 11px 0;
    background-color: #ffffff;
}
.shuoming i{
    color: #B7B7B7;
    position: absolute;
    left: 10px;
    font-style: normal;
    font-size: 13px;
}
.shuoming p{
    padding-left: 75px;
    padding-right: 10px;
    font-size: 13px;
    margin-bottom: 0;
}
.my_con .aa{
    font-size: 14px;
    line-height: 37px;
    color: #DBDBDB;
    float: right;
    padding-right: 10px;
}
/*-------------- 职业选择 --------------*/
.zhiye_info{
    background-color: #ffffff;
    z-index: 9999;
    display: none;
}
.zhiye_info .my_con ul li{
    position: relative;
    height: 40px;
    line-height: 41px;
    font-size: 13px;
    cursor: pointer;
    width: 100%;
}
.zhiye_info .my_con ul li>i{
    padding-left: 43px;
    color: #444;
}
.zhiye_info .my_con ul li>b{
    position: absolute;
    top: 10px;
    left: 10px;
    width: 35px;
    height: 20px;
    line-height: 21px;
    color: #ffffff;
    font-weight: normal;
    text-align: center;
    border-radius: 3px;
    font-size: 13px;
}
.zhiye_info .my_con ul li span{
    position: absolute;
    right: 10px;
    top: 12px;
    color: #666666;
}
.zhiye_info .my_con ul li input{
   z-index: -9999;
    position: absolute;
}
.zhiye_info .my_con ul li>b.blue{
    background-color: #8FBDE9;
}
.zhiye_info .my_con ul li>b.yello{
    background-color: #EBB15C;
}
.zhiye_info .my_con ul li>b.or{
    background-color: #ED8760;
}
.zhiye_info .my_con ul li>b.gr{
    background-color: #ADD3CD;
}
.zhiye_info .my_con ul li>b.zs{
    background-color: #C3AFE1;
}
.zhiye_info .my_con ul li>b.fh{
    background-color: #DFABC1;
}
.zhiye_info {
    -webkit-animation: slideInUp .3s;
    animation: slideInUp .3s;
}
@-webkit-keyframes zhiye_info {
    from {
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0)
    }
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
}
@keyframes zhiye_info {
    from {
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0)
    }
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
}

/*-------------- 编辑资料 --------------*/
.edit_info{
    cursor: pointer;
    display: none;
}
.edit_info .sj_header ul li{
    width: 33.3%;
}
.edit_info .sj_header ul li:nth-child(2) p{
    text-align: center;
    padding: 0;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
}
.edit_info .sj_header ul li:nth-child(3) p{
    text-align: right;
    padding-right: 15px;
    font-size: 14px;
}
.my_con ul li input{
    width: 100%;
    padding-left:75px;
    border: none;
    height: 30px;
    line-height: 30px;
}
input,textarea,select,option:focus{
    outline: none;
}
.edit_info .my_con ul li{
    width: 100%;
}
.edit_info .my_con ul li>i{
    color: #444;
    position: absolute;
    left: 10px;
    font-style: normal;
}
.edit_info .shuoming{
    padding-bottom: 0;
    font-size: 13px;
}
.edit_info .shuoming i{
    color: #444;
    position: absolute;
    left: 10px;
    font-style: normal;
    font-size: 13px;
}
.edit_info .shuoming textarea{
    max-width: 100%;
    padding-left:75px;
    border: none;
}
/******************************************************/
.edit_sex_con {
    -webkit-animation: slideInUp .3s;
    animation: slideInUp .3s;
}
@-webkit-keyframes edit_sex_con {
    from {
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0)
    }
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
}
@keyframes edit_sex_con {
    from {
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0)
    }
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
}
.edit_sex_con{
    font-size: 10px;
    background-color: rgba(0, 0, 0, 0.2);
    display: none;
    position: fixed;
    color: #666666;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9900;
    overflow: hidden;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.edit_sex_con .edit_sex_cho{
    vertical-align: middle;
    background-color:rgb(249, 249, 249);
    color: #666;
    margin: 0;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 9901;
    overflow: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    clear: both;
    height: 216.375px;
}
.edit_sex_con .edit_sex_cho .edit_btn{
    color: #12B7F5;
    font-size: 1.4em;
    line-height: 1em;
    padding: .8em 1em;
    clear: both;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
}
.edit_sex_con .edit_sex_cho .edit_btn span:nth-child(1){
    float: left;
}
.edit_sex_con .edit_sex_cho .edit_btn span:nth-child(2){
    float: right;
}
.edit_sex_con .edit_ul{
    vertical-align: middle;
}
.edit_sex_con .edit_ul li{
    position: relative;
    top: 5.3em;
    width: 100%;
    height: 3em;
    line-height: 3em;
    box-sizing: border-box;
    z-index: 0;
    border-top: 1px solid #E5E5E5;
    border-bottom: 1px solid #E5E5E5;
    margin:0 auto;
}
.edit_sex_con .edit_ul li p{
    float: left;
    margin: 0 auto;
    width: 50%;
    height: 3em;
    position: relative;
    cursor: pointer;
}
.edit_sex_con .edit_ul li p:nth-child(1){
    text-align: right;
    padding-right: 35px;
}
.edit_sex_con .edit_ul li p:nth-child(2){
    text-align: left;
    padding-left: 35px;
}
.edit_sex_con .edit_ul li p:nth-child(1) input{
    width: 15px;
    height: 15px;
    position: absolute;
    top: 6px;
    right: 55px;
}
.edit_sex_con .edit_ul li p:nth-child(2) input{
    width: 15px;
    height: 15px;
    position: absolute;
    top: 6px;
    left: 13px;
}

