*{
    margin:0;
    padding:0;
    font-family:"微软雅黑 ";
    list-style:none;
}
html, body {
    background-color: #fff;
    font-size: 14px;
    color:#454545;
    margin: 0;
    padding: 0;
}
.swiper-slide {
    text-align: center;
}
input,textarea:focus{
    outline: none;
}
/*--------社交顶部内容-------*/
.sj_header{
    background-color:#34394B;
    height: 50px;
    line-height: 50px;
}
.sj_header>ul>li{
    float: left;
    margin: 0 auto;
}
.sj_header>ul>li:nth-child(1){
    position: absolute;
    left: 0;
}
.sj_header>ul>li:nth-child(1) span{
    padding-left: 15px;
    font-size: 17px;
    color: #ffffff;
    margin-top: 15px;
}
.sj_header>ul>li:nth-child(2){
    width: 100%;
}
.sj_header>ul>li:nth-child(2) p{
    font-size: 18px;
    width: 100%;
    text-align: center;
}
.sj_header>ul>li:nth-child(3){
    position: absolute;
    right: 0;
}
.sj_header>ul>li:nth-child(3) span{
    padding-right: 15px;
    font-size: 17px;
    color: #ffffff;
    margin-top: 15px;
}
.sj_header>ul>li a:link{
    color: #fff;
    text-decoration: none;
}
.sj_header>ul>li a:hover{
    color: #fff;
    text-decoration: none;
}
.sj_header>ul>li a:visited{
    color: #fff;
    text-decoration: none;
}
.con{
    width: 100%;
    margin-top: 50px;
    background-color: #fff;
}
/*-------社团资料-------*/
.info_per{
    width: 100%;
}
.info_per>div:nth-child(1){
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    height: 35px;
    line-height: 35px;
    border-bottom: 1px solid #f8f8f8;
}
.info_per>div:nth-child(1) span{
    float: right;
    color: #999999;
}
.info_per>div:nth-child(1) span i{
    font-style: normal;
    padding: 0 2px;
}
.info_per>div:nth-child(2){
    padding-left: 10px;
    border-bottom: 4px solid #F3F5F7;
    height: 48px;
    line-height: 30px;
}
.info_per>div:nth-child(2) ul li:nth-child(1){
    margin-right: 10px;
}
.info_per>div:nth-child(2) ul li{
    float: left;
    margin-right: 10px;
}
.info_per>div:nth-child(2) ul li:not(:first-child) img{
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background-color: #F3F5F7;
    border: 1px solid #eeeeee;
    margin-top: -2px;
}
.info_per>div:nth-child(2) ul li:last-child{
    float: right;
    color: #cccccc;
    margin-top: 3px;
}
/* 资料列表 */
.info_list{
    width: 100%;
}
.info_list ul li{
    height: 50px;
    line-height: 50px;
    border-bottom: 1px dashed #f8f8f8;
    font-size: 14px;
    margin: 0 10px;
}
.info_list ul li i{
    font-style: normal;
    color: #999999;
    position: absolute;
}
.info_list ul li span{
    padding-left: 80px;
    width: 100%;
    position: relative;
}
.exit{
    border:1px solid #FF284B;
    color: #FF284B;
    margin: 0 10px;
    text-align: center;
    height: 35px;
    line-height: 34px;
    border-radius: 3px;
    margin-top: 150px;
}
/* 创建社团 */
.add_touxiang{
    width: 100%;
    text-align: center;
    padding-top: 40px;
}
.add_touxiang p{
    border: 1px solid #f6f6f6;
    border-radius: 50%;
    width: 130px;
    height: 130px;
    line-height: 130px;
    color: #dadada;
    font-size: 25px;
    margin:0 auto;
    background-color: #fcfcfc;
}
.shetuan_name{
    width: 100%;
    text-align: center;
    font-size: 14px;
    margin: 8% 0;
}
.shetuan_name input{
    width: 70%;
    height: 35px;
    line-height: 35px;
    border: none;
    text-align: center;
    border-bottom: 1px solid #FF284B;
}
.shetuan_jianjie{
    width: 100%;
    text-align: center;
    font-size: 14px;
    padding-top: 10px;
}
.shetuan_jianjie textarea{
    width: 90%;
    border: 1px solid #f6f6f6;
    text-indent: 1em;
    padding: 5px 0;
    border-radius: 3px;
}
.sub{
    width: 100%;
    text-align: center;
    padding-top: 70px;
}
.sub input{
    width: 90%;
    height: 35px;
    line-height: 35px;
    background-color:#ffffff;
    border: 1px solid #FF284B;
    color:#FF284B;
    border-radius: 3px;
}

























